.header {
  background: url("../img/header/header_fon.jpg") top no-repeat;
  @media (max-width: 767px) {
    background: url("../img/header/header_fon.jpg") 0 -20px no-repeat;
  }

  // .header__top

  &__top {
  }

  // .header__bottom

  &__bottom {
  }
}
.top-header {
  // .top-header__content

  &__content {
    display: flex;
    align-items: center;
    height: 90px;
    @media (max-width: 767px) {
      height: 70px;
    }
  }

  // .top-header__column

  &__column {
    flex: 0 1 50%;
    &:nth-child(2) {
      flex: 0 0 190px;
      text-align: center;
      @media (min-width: 767px) {
        padding: 25px 0 0 0;
        align-self: flex-start;
      }
      
    }
    p {
      position: relative;
      z-index: 2;
      color: #fff;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.6px;
      text-align: center;
      padding: 12px 0 0 0;
      white-space: nowrap;
      @media (max-width: 640px) {
        padding: 5px 0 0 0;
      }
    }
    @media (max-width: 767px) {
      &:nth-child(2) {
        flex: 0 0 100px;
      }
    }
  }

  // .top-header__menu

  &__menu {
  }

  // .top-header__logo

  &__logo {
    display: inline-block;
    position: relative;
    z-index: 2;
    @media (max-width: 767px) {
      width: 100px;
      img {
        max-width: 100%;
      }
    }
  }

  // .top-header__contacts

  &__contacts {
  }
}
.menu {
  // .menu__icon

  &__icon {
  }

  // .menu__body

  &__body {
    @media (max-width: 992px) {
      opacity: 0;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: auto;
      visibility: hidden;
      background-color: #fff;
      padding: 60px 20px 0 15px;
      z-index: 2;
      transition: all .3s ease;
      &::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 90px;
        top: 0;
        left: 0;
        background-color: $basicColor;
        @media (max-width: 767px) {
          height: 70px;
        }
      }
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
    @media (max-width: 640px) {
      padding: 80px 0 0 20px;
    }
  }

  // .menu__list

  &__list {
    display: grid;
    grid-template-columns: 130px 130px 130px;
    white-space: nowrap;
    li {
      margin: 1px 0;
    }
    @media (max-width: 1100px) {
      grid-template-columns: 100px 130px 130px;
    }
    @media (max-width: 992px) {
      display: block;
      &:first-child {
        padding: 50px 0 0 0;
      }
    }
  }

  // .menu__link

  &__link {
    font-family: "Play";
    color: #fff;
    font-size: 14px;
    text-decoration: underline;

    padding: 0 22px;
    height: 27px;
    transition: all 0.2s ease 0s;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 992px) {
      
      &:hover {
        border-radius: 20px;
        background-color: #068292;
      }
    }
    @media (max-width: 1100px) {
      padding: 0 5px;
    }
    @media (max-width: 992px) {
      color: $orangeColor;
      &:hover {
        border-radius: 20px;
        background-color: #dad3cc;
      }
    }
    @media (max-width: 640px) {
      font-size: 20px;
      margin: 5px 0 5px 0;
    }
  }
}
.icon-menu {
  display: none;
  @media (max-width: 992px) {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span {
      transition: all ease .3s;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #fff;
      top: calc(50% - 1px);
      left: 0;
      &:first-child {
        top: 0;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
        // height: 1px;
      }
    }
    &.active {
      span {
        transform: scale(0);
        &:last-child {
          transform: rotate(-45deg);
          bottom: calc(50% - 1px);
        }
        &:first-child {
          transform: rotate(45deg);
          top: calc(50% - 1px);
        }
      }
    }
  }
}
.contacts-header {
  display: flex;
  justify-content: center;
  @media (max-width: 767px) {
    justify-content: flex-end;
  }

  // .contacts-header__column

  &__column {
    padding: 0 30px;
    border-left: 1px solid #fff;
    &:first-child {
      border: none;
    }
    @media (max-width: 1150px) {
      padding: 0 15px;
    }
    @media (max-width: 992px) {
      &:last-child {
        display: none;
      }
    }
    @media (max-width: 640px) {
      padding: 0;
    }
  }

  // .contacts-header__item

  &__item {
  }

  // .contacts-header__item-icon

  &__item-icon {
    background: url("../img/header/phone.png") left no-repeat;
    padding: 0 0 0 37px;
    position: relative;
    z-index: 2;
    @media (max-width: 1150px) {
      padding: 0 0 0 25px;
      background-size: 15px;
    }
    @media (max-width: 640px) {
      background-image: none;
    }
  }

  // .contacts-header__label

  &__label {
    margin: 0 0 5px 0;
    font-size: 12x;
    font-weight: 300;
    color: #fff;
    @media (max-width: 640px) {
      display: none;
    }
  }

  // .contacts-header__phone

  &__phone {
    font-size: 18px;
    font-weight: 900;
    color: #fff;
    white-space: nowrap;
    @media (max-width: 1150px) {
      font-size: 16px;
    }
    @media (max-width: 640px) {
      background: url("../img/header/phone.png") left no-repeat;
      width: 19px;
      height: 25px;
      display: inline-block;
      font-size: 0;
      position: relative;
      top: 15px;
    }
  }
}
.bottom-header {
  // .bottom-header__content

  &__content {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .bottom-header__column

  &__column {
    flex: 0 1 calc(50% - 95px);
  }

  // .bottom-header__actions

  &__actions {
  }

  // .bottom-header__info

  &__info {
  }
}
.bottom-header {
  // .bottom-header__actions

  &__actions {
  }
}
.actions-header {
  display: flex;
  align-items: center;
  @media (max-width: 640px) {
    justify-content: space-between;
  }
  
  li {
    margin: 0 50px 0 0;
    @media (max-width: 1150px) {
      margin: 0 23px 0 0;
    }
  }
  
  // .actions-header__item

  &__item {
    padding: 0 0 0 36px;
    @media (max-width: 1150px) {
      padding: 0 0 0 28px;
    }
    display: inline-block;
    line-height: 24px;
    color: #999999;
    span {
      border-bottom: 1px dotted #999999;
      color: #999999;
    }
    @media (min-width: 992px) {
      & :hover {
         color: $basicColor;
      }
    }
    @media (max-width: 992px) {
      padding: 0;
      background: none;
    }
  }

  // .actions-header__item-login

  &__item-login {
    background-image: url("../img/header/login.jpg");
    background-repeat: no-repeat;
    background-position: left;
  }

  // .actions-header__item-reg

  &__item-reg {
    background-image: url("../img/header/register.png");
    background-position: left;
    background-repeat: no-repeat;
  }

  // .actions-header__item-email

  &__item-email {
    background-image: url("../img/header/mail.png");
    background-position: left;
    background-repeat: no-repeat;
    span {
      border-bottom: 1px solid;
    }
  }
}

.bottom-header {

  // .bottom-header__info

  &__info {
  }
}
.info-header {
  display: flex;
  justify-content: center;
  align-items: center;

  // .info-header__column

  &__column {
    padding: 0 50px 0 0;
    @media (max-width: 1440px) {
      padding: 0 50 / 1440 * 100vh 0 0;
    }
    &:last-child {
      padding: 0;
    }
  }

  // .info-header__item

  &__item {
    @media (max-width: 992px) {
      padding: 0;
      background: none;
    }
  }

  // .info-header__item-callback

  &__item-callback {
    padding: 0 0 0 32px;
    display: inline-block;
    background: url("../img/header/callback.png") left no-repeat;
    color: $basicColor;
    white-space: nowrap;
    line-height: 20px;
    span {
      border-bottom: 1px dotted #999;
    }
  }

  // .info-header__itemschedule

  &__item-schedule {
    padding: 0 0 0 37px;
    background: url("../img/header/schedule.png") left no-repeat;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #999;
    span {
      font-weight: 900;
    }
    @media (max-width: 992px) {
      display: none;
    }
  }

  // .info-header__itemcart

  &__item-cart {
    width: 43px;
    height: 43px;
    display: inline-block;
    background: url("../img/header/header_cart.png") left no-repeat;
    position: relative;
    span {
      padding: 0 10px;
      line-height: 25px;
      border-radius: 20px;
      background-color: $orangeColor;
      position: absolute;
      right: 0;
      top: -4px;
      transform: translate(40%, 0);
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      @media (max-width:767px) {
        right: 6px;
      }
      @media (max-width: 640px) {
        font-size: 14px;
        line-height: 20px;
        padding: 0 5px;
      }
    }
    @media (max-width: 640px) {
      width: 38px;
      height: 40px;
      top: -15px;
      right: 30px;
    }
  }
}
