@import "mixin";
@import "fonts";
@import "vars";
@import "nullstyle";

body {
  font-family: $fontFamily;
}

@import "header";


.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}